body {
	padding-bottom: 40px;
}
.roundedBorder {
	border: solid 1px #EEE;
	border-radius: 1em;
	padding: 1em;
}

#homeView {
	position: relative;
	min-height: 40em;
}
.boxView {
	min-height: 1em; min-width: 1em;
	position: absolute;
	text-align: center;
	background-color: #9F9;
}
.boxViewDraggableDiv {
	width: 100%;
	height: 100%;
}
.dragCreateHelper {
}

.boxViewRail {
	background-color: #F00;
	position: absolute;
}
.topBoxViewRail, .bottomBoxViewRail {
	left: 0;
	width: 100%;
	height: 10px;
}
.topBoxViewRail { top: 0; }
.bottomBoxViewRail { bottom: 0; }
.rightBoxViewRail, .leftBoxViewRail {
	top: 0;
	width: 10px;
	height: 100%;
}
.leftBoxViewRail { left: 0; }
.rightBoxViewRail { right: 0; }
